@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root {
  --main-bg-color:#111111;
  --text-color:#FFFFFF;
  --ff-text:'Overpass', sans-serif;
  --color-button: #D9D9D9;
  --color-butttonh:#afafaf ;
  font-size: 62.5%;
}
body{
  background-color:var(--main-bg-color);
  font-family:'Overpass', sans-serif;;
}
header{
  margin-top: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
header nav{
  font-size: 1.3rem;
  display: flex;
  align-items:center;
  gap: 30px;
}
header nav a {
  text-decoration: none;
  color:var(--text-color);
}
header nav img {
  width: 30px;
}

.main-page {
  margin-top: 7rem;
    display: flex;
    justify-content: center;
    gap: 30rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
}
main{
  font-family: var(--ff-text);
  color: var(--text-color);
}
main img{
  border-radius: 1rem;
  width: 30rem;
}
main h1 {
  font-size:2.4rem;
}
main p{
  width:26rem ;
  font-size: 1.6rem;
  text-align: justify;
}
footer{
  margin-top: 6rem;
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  color: var(--text-color);
}
footer img{
  width:20px;
}
@media (max-width: 1600px ) {
  .main-page {
    gap: 15rem;
  }
}
@media(max-width: 1000px) {
  .main-page {
    gap: 5rem;
  }
}
@media(max-width: 790px){
  main img{
    border-radius: 1rem;
    width: 25rem;
  }
  main h1 {
    font-size:1.5rem;
  }
  main p{
    width:15rem ;
    font-size: 1.1rem;
    text-align: justify;
  }
  
}
@media(max-width:870px) {
  .main-page {
    margin-top: 7rem;
      display: flex;
      justify-content: center;
      gap: 30rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 8.5rem;
  }
  main{
    font-family: var(--ff-text);
    color: var(--text-color);
  }
  main img{
    border-radius: 1rem;
    width: 30rem;
  }
  main h1 {
    font-size:2.4rem;
  }
  main p{
    width:26rem ;
    font-size: 1.6rem;
    text-align: justify;
  }
}