@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root {
  --main-bg-color:#111111;
  --text-color:#FFFFFF;
  --ff-text:'Overpass', sans-serif;
  --color-button: #D9D9D9;
  --color-butttonh:#afafaf ;
  font-size: 62.5%;
}
body{
  background-color:var(--main-bg-color);
  font-family:'Overpass', sans-serif;;
}
header{
  margin-top: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
header nav{
  font-size: 1.3rem;
  display: flex;
  align-items:center;
  gap: 30px;
}
header nav a {
  text-decoration: none;
  color:var(--text-color);
}
header nav img {
  width: 30px;
}

.main-page {
  
  margin: 21.9rem auto 9rem;
  display:flex;
  gap: 18rem; 
}
.content {
  display: flex;
  flex-wrap: wrap;
}
main{
  font-family: var(--ff-text);
  color: var(--text-color);
}
main img{
  width: 25rem;
}
main h1 {
  font-size:2.4rem;
}
main p{
  font-size: 1.6rem;
}
footer{
  margin-top:24.2rem ;
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  color: var(--text-color);
}
footer img{
  width:20px;
}