*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:#222222 ;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  text-decoration: none;
}
