*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:hsl(0, 0%, 8%) ;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav a {
  text-decoration: none;
  color:white;
}
